<script>
    const roomName = "<%=roomName%>"
</script>
<div class="container">
    <div class="row">
        <h1><%=roomName%></h1>
    </div>
</div>

<div id="message-container">
    <div class="container">
        <div class="row">
            <%messages.forEach(message => {%>
                <li class="list-group-item"><%=message.username%>: <%=message.message%> <%=message.createdAt.toISOString().split("T")[0]%></li>
            <%})%>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="col-md-8">######################## ABOVE HISTORY ########################</p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div id="user-container" class="form-group">
                <h2>Users Online</h2>
                <ul class="list-group"></ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="/room" method="post" id="send-container"  class="form-control">
            <input class="form-control" type="text" id="message-input" name="message">
            <button type="submit" class="btn btn-primary" id="send-button" name="send">Send</button>
        </form>
    </div>
</div>