<script>
    const roomName = "<%=roomName%>"
</script>
<h1><%=roomName%></h1>

<div id="message-container">
    <%messages.forEach(message => {%>
        <li class="list-group-item"><%=message.username%>: <%=message.message%> <%=message.createdAt.toISOString().split("T")[0]%></li>
    <%})%>
    ######################## ABOVE HISTORY ########################
    <div id="user-container">
        <h2>Users Online</h2>
        <ul class="list-group"></ul>
    </div>
</div>
<form action="/room" method="post" id="send-container">
    <input class="form-control" type="text" id="message-input" name="message">
    <button type="submit" class="btn btn-primary" id="send-button" name="send">Send</button>
</form>